{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
			<button 
				type="button" 
				class="btn-close" 
				data-bs-dismiss="alert" 
				aria-label="close"
				style="padding: 1.2rem 1rem;"
			></button>
			<div class="alert-message">
				{{ message|raw }}
			</div>
		</div>
    {% endfor %}
{% endfor %}