{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-md-9 p-2">
                <h1 class="p-5">Interface d'administration</h1>
            </main>
        </div>
    </div>

{% endblock %}