<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Article ajouté avec sucès !</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Voulez-vous voir votre panier ?
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelCart" class="btn btn-secondary" data-bs-dismiss="modal">Continuer mes achats</button>
                <a href="#" id="confirmCart" class="btn btn-success">Voir mon panier</a>
            </div>
        </div>
    </div>
</div>